<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script>
  $(document).ready(function(){
        $("#DayTrip").click(function (){
            if ($("#DayTrip").prop("checked")){
                $(".return").hide();
            }else{
                $(".return").show();
            }
        });
    });
</script>
{% extends 'base.html' %}

{% block header %}
<h1>{% block destination %}Edit "{{ travel['destination'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="destination">Destination</label>
  <input name="destination" id="destination" value="{{ request.form['destination'] or travel['destination'] }}" required>
  <ul>
    <li>
      <ul>
        <li><label for="tdate"> Leaving on </label></li>
        <li><input type="date" name="tdate" value="{{ request.form['tdate'] or travel['traveldate'] }}"></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><label for="ttime"> at </label></li>
        <li><input type="time" name="ttime" value="{{ request.form['ttime'] or travel['traveltime'] }}"></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><label for="Day Trip">Day Trip</label></li>
        <li><input type="checkbox" id="DayTrip" value=""></li>
      </ul>
    </li>
    <li class="return">
      <ul>
        <li><label for="tdateb">Returning on</label></li>
        <li><input type="date" name="tdateb"></li>
      </ul>
    </li>
    <li class="return">
      <ul>
        <li><label for="ttimeb">at</label></li>
        <li><input type="time" name="ttimeb"></li>
      </ul>
    </li>
  </ul>
  <label for="body">Body</label>
  <textarea name="body" id="body">{{ request.form['body'] or travel['body'] }}</textarea>
  <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('travel.delete', id=travel['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}
